.course-library-container{
    padding-top: 30px;
width: 100%;
display: flex;
justify-content: center;
z-index: 0;
}
.course-library-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90%;
    padding: 50px;
    border-radius: 10px;
    color:white;
    background-color: var(--secondary-color);
}
.course-library-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.course-library-content{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    width: 100%;
}
.small-title{
    color:var(--third-color);
}

.course-library-content-title{
    color: var(--third-color);
}

.course-library-content-text{
    flex-basis: 40vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}
.course-library-content-pic{
    width: 40%;
    flex-basis: 40vw;
}
.course-library-content-pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.course-library-content-text h1{
    font-size: 28px;
}
.course-library-content-text ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.course-library-content-text i{
    color :rgb(208, 223, 3); 
}

.compare-libraries-container{
    width: 100%;
    padding: 30px;
}
.compare-libraries-title{
    margin-bottom: 20px;
}

.compare-libararies-wrapper{
    width: 100%;
    display: flex;
}

.compare-libraries-content-div{
    width: 40%;
    flex: 1;
    flex-basis: 40%;
    padding-right: 30px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.italic-text{
    font-style: italic;
    letter-spacing: 1px;
}

.explore-libraries-btn{
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    padding: 30px 20px;
    
    background-image: url('../../../images/skill_page/dots.png');;
    background-repeat: no-repeat;
    background-position-y: center;
}
.explore-black-btn{
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    background-color: var(--primary-color);
    transition: all ease 250ms;
}
.explore-black-btn:hover{
    box-shadow: 0px 0px 20px 4px  rgba(0,0,0,0.3);
    transform: scale(1.005);
}
.explore-libraries-btn-container{
    border-radius: 10px;
    margin-top: 50px;
    background: linear-gradient( 100.37deg,  rgb(241, 90, 34) 0%,rgb(236, 0, 139) 100%);;
    display: flex;
    align-items: center;
    justify-content: center;
}