.course-library-container{
width: 100%;
display: flex;
justify-content: center;
}
.course-library-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    color:white;
    background-color: var(--secondary-color);
}
.course-library-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.course-library-content{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    width: 100%;
}
.small-title{
    color:var(--third-color);
}

.course-library-content-title{
    color: var(--third-color);
}

.course-library-content-text{
    flex-basis: 40vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}
.course-library-content-pic{
    width: 40%;
    flex-basis: 40vw;
}
.course-library-content-pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.course-library-content-text h1{
    font-size: 28px;
}
.course-library-content-text ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.course-library-content-text i{
    color :rgb(208, 223, 3); 
}