.navbar-container{
    width: 100vw;
    height: 90px;
    color: white    ;
    background-color: #0f0f0f;
    display: flex;  
    align-content: center;
    font-family: 'Raleway', sans-serif;
    padding: 0px   20px;
    align-items: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 900;
    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.2);
}
.navbar-container-mobile{
    display:none;

}
.nav-links-wrapper{
    width:50%;
    display: flex;
    height: 100%;
    align-items: center;
    align-content: center;
 
}
.nav-links-list{
    display: flex;
    align-items: center ;
    list-style: none;
    width: 70%;
    justify-content: space-around   ;
    font-size: 15px;
    
}
.nav-link a{
    text-decoration: none;
    color: white;
}
.brand-logo{
        width: 200px;
        height: 50%;
        margin-right: 10px;
        background-image: url(../../images/pluralsight_logo.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        
}

.navbar-search-sign-in{
    margin-left: auto   ;
    width: 20%;
    display: flex;
}
.fa-bars,.fa-times{
    display: none;
}
.search-sign-in-list{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.search-sign-in-item a{
    text-decoration: none;
    color:white;
}
.try-for-free-btn{
    padding: 10px 20px;
    border-radius: 10px;
    border:2px white solid;
    text-transform: capitalize;
}

@media screen and (max-width:1100px) {
    .navbar-search-sign-in{
        width: 25%;
    }
    .nav-links-list{
        width: 75%;
        justify-content: space-around   ;
        font-size: 15px;
        
    }
}
@media screen and (max-width:900px) {
    .navbar-container{
        display: none;

        }
    .navbar-container-mobile{
        display: flex;
        align-items: center ;
        height: 90px;
        width: 100vw;
        background-color: var(--primary-color);
        z-index: 1000;
        position: fixed;
        top:0;
        box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.2);

    }
    .nav-links-list{
        flex-direction: column;
        height: calc(100vh - 90px);
        position: absolute;
        right: -100%    ;
        top: 90px;
        width: 100%;
        opacity: 0;
        padding: 50px;
        align-items: start ;
        background-color: #0f0f0f;
        z-index:800;
        transition: all ease 250ms;
       
        
    }
    .navbar-search-sign-in i,.fa-bars{
        display: block;
        color: white;
        margin-right: 30px;
        transition: all ease 250ms;
    }
    .active{
        
        display: flex;
        opacity: 1;
        transform: translateX(-100%);
    }
}
